# DATABASE_URL=mongodb://127.0.0.1:27017/departmentalstore
DATABASE_URL=mongodb+srv://hafizashanza023:7JncKKOM9oGpfuGX@departmentalstore.eljvm.mongodb.net/departmentalstore?retryWrites=true&w=majority&appName=departmentalstore
JWT_TOKEN_KEY=fyp-api-token-secure
APP_URL=http://localhost:3001
PORT=5000
